<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-brand">
        <a href="/">Day06</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li>
          
<script> 
$(document).ready(function(){
setInterval(function(){
      $("#here").load(window.location.href + " #here" );
}, 1000);
});
</script>
          
          
          <a id="here" href="#">
          {% if user.is_authenticated %}
          Hello {{ user }}!
          {% elif user_anonymous %}
          Hello {{ user_anonymous }}!
          {% endif %}</a></li>
         {% if user.is_authenticated %}
          <li><a href="/logout/">Logout</a> </li>
          {% elif user_anonymous %}
          <li><a href="/registration/">Registration</a></li>
          <li><a href="/login/">Login</a> </li>
          {% endif %}
      </ul>
    </div>
  </nav>