<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>
            Ex06: update.
        </title>
    </head>
    <body>
        <form action="" method="POST">
            {% csrf_token %}
            <select name='select' style="width: 200px;">
                {% for row in data %}
                <option value="{{ row.0 }}">{{ row.1 }}</option>
                {% endfor %}
            </select>
            {{ form }}
            <button type="submit">Update</button>
        </form>
    </body>
</html>
