<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>
            Ex02: Display.
        </title>
        <style>
            table {
                border-collapse: collapse;
                }
            th, td {border: 1px solid black; padding:10px; vertical-align:top;}                
            </style>
    </head>
    <body>
        <table>
            <tr>
                <th>episode_nb</th>
                <th>title</th>
                <th>opening_crawl</th>
                <th>director</th>
                <th>producer</th>
                <th>release_date</th>
            </tr>
            {% for row in data %}
            <tr>
                {% for cell in row%}
                    <td>{{ cell }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
